<div class="envelope" [class.open]="isOpen" (click)="toggleEnvelope()">

  <!-- Top flap -->
  <div class="flap">
    <div class="flap-body">
    </div>
    <div class="stamp"></div>
  </div>

  <!-- Body sides -->
  <div class="body">
    <div class="flap-text-wrapper">
      <div class="flap-text-container">
        <div class="flap-text">To our dear friend\</div>
        <div class="flap-text-name">{{ guestName }}</div>
      </div>
    </div>
    <div class="left-side" [style.transform]="'translateY(' + scrollOffset * 1.4 + 'px)'"></div>
    <div class="right-side" [style.transform]="'translateY(' + scrollOffset * 1.4 + 'px)'"></div>
  </div>

  <!-- Scrollable invitation content -->
  <div class="invitation-wrapper" (click)="$event.stopPropagation()" (scroll)="onScroll($event)">
    <app-invitation-body [guestName]="guestName"></app-invitation-body>
  </div>

</div>