<div class="invitation">
  <div class="our-photo">

  </div>
  <div class="names-date">

  </div>
  <div class="invitation-text">
    <!--I want json file that has string releated to param in the link that show custom message to every one-->
  </div>
  <div class="church-location">

  </div>
  <div class="calender">
    <!--make design of july calender and highlite 19 and a button add to calender-->
  </div>
  <div class="reseption">
    <!--I want json file that has bool param to show this section or not-->
  </div>
</div>